
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Theme.html --> teeman sanat:</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" 
    
    />
</head>
<body>

<div class="container">

	<div class="col-md-4">
		<h2>Theme´s Word List:</h2>
	</div>
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
	
	<div class="col-md-4" style="padding:20px 0">		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>	
	</div>
	
	
	
	
    <table class="table table-striped table-bordered table-responsive" role="grid">
    
    
		<tr>
			<th>Englanniksi</th>
			<th>Suomeksi</th>	   
		</tr>  		
    	 <tr th:each = "wordandtranslation : ${words}" >
 
   			<td th:text="${wordandtranslation.word} "></td>
   			<td th:text="${wordandtranslation.translation} "></td> 
   			
   			<td th:text="${wordandtranslation.theme.themename} "></td> 
   			<td><a th:href="@{/editword/{id}(id=${wordandtranslation.id})}">Edit</a></td>  
   	
 		</tr>
 
 <!-- ----------------------------------------------------------- -->
     </table>
     
        <table class="table table-striped table-bordered table-responsive" role="grid">
    
		<tr>
		    <th>Theme</th>
		</tr>  		
    	 <tr th:object= "${theme}" >

         <td th:text="${theme} "></td>

      </tr>
     </table>
     <div style="clear: both; display: block; height: 10px;"></div>  
     
 
     
     

 <!----------------   sanan lisäys      ----------------------------------> 
  
     <div style="clear: both; display: block; height: 10px;"></div>
      <a href="/addword" class="btn btn-primary">Add new word</a> 
   
      
       <table class="table table-striped">


<!--   <a href="@{/addword/{id}(id=${theme.themeid})}">Edit</a>  --> 
	 </table>
</div>	    	
</body>
</html>